@theme {
  --color-background: #111217;
  --color-panel: #17181e;
  --color-surface: #1e2027;
  --color-elevated: #24262f;
  --color-border: #373847;

  --color-text-primary: #f4f2f8;
  --color-muted: #97939f;
  --color-subtle: #716e79;

  --color-accent: #ad97f4;
  --color-accent-strong: #c0adff;
  --color-danger: #f18b99;
}
